// main.scss
@import '_base';

h1 {
    color: tomato;
    font-family: system-ui, -apple-system, Roboto, sans-serif;
}

.background-cover {
    background: url('/public/images/2152.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-q {
    height: 50px;
    width: 50px !important;
}

.question-div{
    border: 2px solid lightgray;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    //ox-shadow: 5px 2.5px 10px gray;
}

.team-member{
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 5px 2.5px 10px gray;
    padding: 20px 20px;
    background-color: white;
    img {
        vertical-align: middle;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        border: 2.5px solid green;
    }
    margin: 10px;
}